*{
    padding: 0;
    margin: 0;
}
.content_index{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* @import url(header/nav/nav.css);
@import url(header/slider/slider.css); */